@charset "UTF-8";
html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    background-image:url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h1 {
    font-size: 3rem;
}

form {
    width: 100%;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

input[type="text"], input[type="email"], input[type="password"] {
    border-width: 0 0 2px 0;
    background: none;
    border-color: #fff;
    border-radius: 0;
    text-align: left;
    padding: 0;
    color: #fff;
    outline: 0;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 0 0 2px 0;
    box-shadow: none;
}

form .form-control::-webkit-input-placeholder { /* Chrome */
    color: #ffffff;
    transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
    opacity: 0.5;
}
form .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
    opacity: 0.5;
}
form .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
    opacity: 0.5;
}
form .form-control:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ffffff;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
    opacity: 0.5;
}



.card-body input[type="text"] {
    border-width: 0 0 2px 0;
    background: none;
    border-color: #000000;
    border-radius: 0;
    text-align: left;
    padding: 0;
    color: #000000;
    outline: 0;
}

.card-body input[type="text"]:focus {
    color: #000000;
    background-color: transparent;
    border-color: #000000;
    border-width: 0 0 2px 0;
    box-shadow: none;
}


.card-body form .form-control::-webkit-input-placeholder { /* Chrome */
    color: #000000;
    transition: opacity 250ms ease-in-out;
}

.card-body form .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #000000;
    transition: opacity 250ms ease-in-out;
}

.card-body form .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.card-body form .form-control:-moz-placeholder { /* Firefox 4 - 18 */
    color: #000000;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.white {
    color: #ffffff !important;
}

.main {
    position: relative;
}

.content-item {
    padding: 30px 0;
    height: 100%;
}

.form-wrapper {
    padding: 50px 0;
}

.form-group.row {
    margin-bottom: 4rem;
}

.form-group.row > .col-sm-6:first-of-type {
    padding-right: 80px;
}

.form-group.row > .col-sm-6:last-of-type {
    padding-left: 80px;
}

.btn-container {
    padding-top: 50px;
}

.btn.btn-yellow {
    background-color: #ffe65e;
    border: none;
    color: #000;
    border-radius: 18px;
    width: 200px;
}

.btn.btn-yellow:focus {
    outline: 0;
    border: none;
    box-shadow: none;
}

.btn.btn-yellow:hover {
    background-color: #e7c929;
}

.sign-up-row {
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: normal;
}

.sign-up-row > a, a.sign-out {
    color: #ffe65e;
}

.file {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.file .drop {
    text-align: center;
    height: 12rem;
    line-height: 12rem;
    vertical-align: middle;
    border: 2px solid #ffe65e;
    display: block;
    color: #ffffff;
    background: rgba(117, 117, 117, .6);
}

.file .drop .previews {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.file .drop input, .file .drop span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.file .drop input {
    opacity: 0;
}

.parsley-errors-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: .9em;
    line-height: .9em;
    opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
    padding: 5px 0;
    background-color: transparent;
    color: #df1757;
}

.alert p {
    display: inline-block;
    margin-bottom: 0;
}

.content-item .profile_photo {
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 99;
    height: auto;
}

.home-cards {
    padding-top: 50px;
}

.custom-card {
    border: 2px solid #ffe65e;
    background-color: rgba(255, 255, 255, .6);
    font-size: 1.25rem;
}

.custom-card .card-header {
    background: #ffe65e;
    border-color: #ffe65e;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.custom-card .card-header > a {
    color: inherit;
}

.custom-card .mini-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-box {
    display: inline-block;
    width: 90%;
}

.widget-box .card-body {
    height: 150px;
    padding: .7rem;
}

.temp {
    display: inline-block;
    width: 70%;
    text-align: center;
}

.temp > span {
    display: inline-block;
    width: 75px;
    line-height: 1.5rem;
}

.widget-box .main-city {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 700;
}

.custom-card h5 {
    font-weight: 700;
    font-size: 1.2rem;
}

.custom-card p {
    font-size: 1rem;
    text-align: justify;
    height: 70px;
    display: inline-block;
    overflow: hidden;
}

.news-title {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    padding-top: 30px;
    font-size: 2rem;
    text-align: center;
}

.news-title:hover {
    color: #fff;
}

.breadcrumb-c {
    margin-bottom: 20px;
}

.breadcrumb-c > a {
    color: #fff;
}

.breadcrumb-c > span {
    color: #ffe65e;
    font-weight: 700;
}


.breadcrumb-c > a:hover {
    color: #fff;
}

.page-title {
    position: absolute;
    margin: 0;
    color: #fff;
    top: 0;
}

.second-row {
    margin-top: 40px;
}

.photo-box {
    display: inline-block;
    width: 60%;
    margin-bottom: 20px;
}

.photo-box .card-body {
    height: 200px;
    padding: .7rem;
}

.drop.photos {
    background-color: rgba(255, 255, 255, .6);
}

.drop.photos img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.delete-photo {
    position: relative;
}

.delete-photo > i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    z-index: 999;
    display: none;
}

.drop.photos:hover > .delete-photo > i {
    display: block;
}

img.th {
    height: 60px !important;
}

.photos-c .col-6:nth-child(3), .photos-c .col-6:nth-child(4){
    margin-top: 10px;
}

.add-task {
    padding-top: 20px;
}

.add-task > img {
    cursor: pointer;
    transition: transform .2s;
}

.add-task > img:hover {
    transform: scale(1.2);
}

#addTask .modal-content {
    background-color: rgba(0, 0, 0, .9);
}

#addTask .modal-header {
    color: #fff;
    border-color: #fff;
}

#addTask .close {
    color: #fff;
}

#addTask .modal-footer {
    display: inline-block;
    width: 100%;
}

.btn_u, .btn_c {
    display: inline-block;
    margin-top: 15px;
    height: 40px;
    cursor: pointer;
}

.card-body input {
    height: calc(1.75rem + 2px);
}

.card-body .btn_u, .card-body .btn_c {
    display: inline-block;
    margin-top: 15px;
    height: 25px;
    cursor: pointer;
}

svg.peity {
    width: 130px;
    height: 130px;
}

.search-btn {
    width: auto !important;
    margin-top: 18px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    .form-wrapper {
        padding: 20px 0;
    }

    .form-group.row {
        margin-bottom: 1rem;
    }

    .form-group.row > .col-sm-6:first-of-type {
        margin-bottom: 20px;
        padding-right: 15px;
    }

    .form-group.row > .col-sm-6:last-of-type {
        padding-left: 15px;
    }

    .file .drop {
        height: 8rem;
        line-height: 8rem;
    }

    .content-item .profile_photo {
        position: relative;
        left: 0;
        margin-bottom: 10px;
    }

    .card {
        margin-bottom: 20px;
    }

    .news-title {
        font-size: 1.5rem;
    }

    .second-row {
        margin-top: 0;
    }

    .home-cards {
        padding-top: 20px;
    }

    .drop.photos {
        height: 12rem;
        line-height: 12rem;
    }

    .btn_u, .btn_c {
        display: inline-block;
        margin-top: 20px;
        height: 30px;
    }
}

@media (max-width: 996px) {
    .page-title {
        position: relative;
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .widget-box, .photo-box {
        width: 100%;
    }
}

